<%- include('header') %>


<h1>Add a Collection Below!</h1>
<form method = "POST" id ="select" action ="/addcollection">

    <div class="container-fluid">
        <div class="row justify-content-start">
          
          <div class="col-md-6">
            
            <div >
                <input name ="collectiontitle" class="form-control" placeholder="Enter your title here!" height ="100">
            </div>

          
                <select id ="genre" name = "album1">
                    <% album.forEach((album) =>{ %> 
                    
                  
                </select>
                <div>
                    

                    <div class="w-400 mw-full"> <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
                        <div class="card p-0"> <!-- p-0 = padding: 0 -->
                            <img src="<%= album.img_path %>" class="img-fluid rounded-top" alt="..."> <!-- rounded-top = rounded corners on the top -->
                          <!-- Nested content container inside card -->
                          <div class="content">
                            <h2 class="content-title">
                                <%= album.album_title %>
                            </h2>
                            <p class="text-muted">
                              Subtitle that hooks the reader and prompts them to click on the read more button.
                            </p>
                            <div class="text-right"> <!-- text-right = text-align: right -->
                              <a href="#" class="btn">Read more</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <input type="checkbox" id="vehicle1" name="Vinyl<%= album.album_id %>" value="<%= album.album_id %>">
<label for="vehicle1"> Add to collection</label><br>
<% }) %>



            <input class="btn btn-primary" type="submit" value="Submit">



          </div>
          <div class="col-md"></div>
        </div>
      </div>

</form>

<%- include('footer') %>