<%- include('header') %>





<div class ="text-center">
    <% albumInfo.forEach((row) =>{ %> 



      <div class="card">
        <h2 class="card-title text-center">


        </h2>
        <h2 class="content-title">
          <%= row.album_title%>
      </h2>
        <div class ="album_img text-center">
        <p>
            <img src ="<%= row.album_img_path %>">
        </p>
        <p class="text-muted">
          <%= row.review %> - <%= row.user_name %>
      </p>
    </div>
        
    </div>

    


        <% }) %>
    
    </div>
    </div>

<%- include('footer') %>