<%- include('header') %>





<div class ="text-center">
    <% albumInfo.forEach((row) =>{ %> 
    <div>
      <div class="w-400 mw-full"> <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
        <div class="card p-0"> <!-- p-0 = padding: 0 -->
          <img src=" <%= row.img_path %>" class="img-fluid rounded-top" alt="album cover"> <!-- rounded-top = rounded corners on the top -->
          <!-- Nested content container inside card -->
          <div class="content">
            <h2 class="content-title">
                <%= row.album_title%>
            </h2>
            <p class="text-muted">
                <%= row.review %> - <%= row.user_name %>
            </p>
            <div class="text-right"> <!-- text-right = text-align: right -->
              
            </div>
          </div>
        </div>
      </div>
        <% }) %>
    
        
    </div>

<%- include('footer') %>