<%- include('header') %>

<% rows.forEach((artist)=>{ %>

    <div class="card">
        <h2 class="card-title">


                <%= artist.artist_name %>
            
        </h2>
        <p>
            <img src ="<%= artist.img_path %>">
            <div>
              <h2>  <%= artist.About %>"> </h2>

            </div>
        </p>
       
    </div>

    <% }) %>

<%- include('footer') %>