<%- include('header') %>


    
        <div class="text-center">
            <h1>Welcome to the band section!</h1>
        </div>
        <body>
        <% artistList.forEach((artist)=>{ %>

            <div class="card">
                <h2 class="card-title text-center">


                    <a href="/banddetail?artist_id=<%= artist.artist_id%>">
                        <%= artist.artist_name %>
                    </a>
                </h2>
                <div class ="album_img text-center">
                <p>
                    <img src ="<%= artist.img_path %>">
                </p>
            </div>
                <div class="text-right"> <!-- text-right = text-align: right -->
                    <a href="/banddetail?artist_id=<%= artist.artist_id%>" class="btn">Read more</a>
                </div>
            </div>

            <% }) %>
    </body>