<%- include('header') %>

<% row.forEach((album) =>{ %>
    

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm"></div>
      
      
      
      <div class="col-sm">


        <div class="w-400 mw-full"> <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
          <div class="card p-0"> <!-- p-0 = padding: 0 -->
            <img src="<%= album.album_img_path %>"> <!-- rounded-top = rounded corners on the top -->
            <!-- Nested content container inside card -->
            <div class="content">
              <h2 class="content-title">
                <%= album.Title %>
              </h2>
              <p class="text-muted">
                <%= album.album_title %>
              </p>
              <div class="text-right"> <!-- text-right = text-align: right -->
                <a href="#" class="btn">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col-sm"></div>
    </div>
  </div>
                    

    </p>

</div>

<% }) %>

<%- include('footer') %>