<%- include('header') %>
<link rel="stylesheet" href="../grid_styles.css">



            <div class="container2">
              <% genreList.forEach((album)=>{ %>
                  <div class ="responsive">
              <div class="cards2">
              <div class="card-img2">
                  <img src="<%= album.img_path %>" alt="">
              </div>
              <div class="card-body2 text-center">
              <h4> <%= album.genre_desc %></h4>
            </div>
              <div class="card-footer2">
                <div class="text-right"> <!-- text-right = text-align: right -->
                  <a href="/genrebands?genre_id=<%= album.genre_id %>" class="btn">Find more <%= album.genre_desc %> albums here</a>
                </div>
              </div>
              </div>
            </div>
              <% }) %>
            </div>

        
 



  

<%- include('footer') %>