<%- include('header') %>



        <% genreList.forEach((genre) =>{ %> 
          
          <div class="w-400 mw-full"> <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
            <div class="card p-0"> <!-- p-0 = padding: 0 -->
              <img src="<%= genre.img_path %>" class="img-fluid rounded-top" alt="..."> <!-- rounded-top = rounded corners on the top -->
              <!-- Nested content container inside card -->
              <div class="content">
                <h2 class="content-title">
                  <%= genre.genre_desc %>
                </h2>
                <p class="text-muted">
                  Subtitle that hooks the reader and prompts them to click on the read more button.
                </p>
                <div class="text-right"> <!-- text-right = text-align: right -->
                  <a href="/genrebands?genre_id=<%= genre.genre_id %>" class="btn">Find more <%= genre.genre_desc %> albums here</a>
                </div>
              </div>
            </div>
          </div>
          

        <% }) %>
 



  

<%- include('footer') %>