<%- include('header') %>

<div class ="text-center">
  <h1>My Collections</h1>
    <% rows.forEach((row) =>{ %> 
    <div>
      <div class="w-400 mw-full"> <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
        <div class="card p-0"> <!-- p-0 = padding: 0 -->
          
          <!-- Nested content container inside card -->
          <div class="content">
            <h2 class="content-title">
                <%=row.collection_title%> <%= row.member_id %>
            </h2>
            <ul>
              <li><%=row.collection_title%></li>
              <li><%=row.album_title%></li>
              
            </ul>
            <p class="text-muted">
                <%= row.review %>
            </p>
            <div class="text-right"> <!-- text-right = text-align: right -->
              
            </div>
          </div>
        </div>
      </div>
        <% }) %>   
    </div>


<%- include('footer') %>